<div class=" row justify-content-center">
  <div class="col-8">
    <div class="well text-center">
 
      <%= form_with(model: @category, local: true)  do |f| %>
        <p class="form-group">
          <%= f.label :name, "Category Name", class: "form-label float-left mt-1" %><br />
          <%= f.text_field :name, class: "form-control form-decoration", placeholder: "Meal or Snack" %>
        </p>
        <br />
        <p>
          <%= f.submit class: "btn btn-primary btn-lg nice_green" %>
          <%= link_to "Home Page" , root_path, class: "btn btn-primary btn-lg nice_green" %>
        </p>
      <% end %>
    </div>
  </div>

</div> 